* {
    margin: 0;
    padding: 0;
}

/* ---------------- SLOTMACHINE ---------------- */

section:nth-of-type(1) {

    display: flex;
    justify-content: center;

    h1 {
        font-family: "rafaella-shadow", sans-serif;
        font-weight: 700;
        font-style: normal;
    
        font-size: 5em;
        color: rgb(29, 11, 72);
    }

    p {
        display: none;
    }

}

section:nth-of-type(2) {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    topstuk {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 200px;
        width: 600px;
        background-image: radial-gradient(
        at 0% 60%,
        transparent 20%,
        #161006 70%
      ),
      linear-gradient(
        -20deg in oklch,
        transparent 15%,
        #0088ff,
        transparent 85%
      ),
      radial-gradient(
        circle at 10% 40%,
        transparent 00%,
        rgb(2, 2, 22) 60%
      ),
      
      linear-gradient(
        150deg in oklch,
        #7a00e5,
        #e51818,
        #7a00e5 90%,
        transparent
      );

        border-radius: 50% 50% 0 0;
        padding: 10px;
        border: solid rgb(22, 22, 22) 60px; 

        & h2 {
            color: transparent;

            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 8em;
            -webkit-text-stroke: 3px rgba(255, 255, 255, 0.7);

        }
    }

    slotmachine {

        background-color: rgb(22, 22, 22);
        width: 740px;
        height: 600px;
        position: relative;
        
        & div {
            padding: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & ul {
                background-color: pink;
                width: 80px;
                height: 300px;
            }
        }

        & .handle {
            display: grid;
            justify-items: center;
            align-items: center;

            position: absolute;
            top: -50px;
            left:calc(100%);  
            width: 100px;
            height: 350px;
    
            border-radius: 0px 10px 10px 0px;
            border: none;
    
            background-image: linear-gradient(maroon, rgb(88, 1, 1));

            & .stick {
                display:grid;
                justify-items:center;
                
                padding: 0;
                
                width:2em;
                height:12em;
                background-image:linear-gradient(darkgrey, grey);
                
                position:absolute;
                
                transform-origin:bottom;
                transition:1s;
                
                transform:
                    perspective(40em)
                    rotateX(0deg);
                
                transform-style:preserve-3d;
                border-radius: 5px;
            }

            & .stick::after {
                content:"";
                position:absolute;
                width:4em;
                height:4em;
                border-radius:50%;
                background-image:radial-gradient(at 33% 33%, white, rgb(202, 153, 20) 50%);
                
                translate:0 -2em;
                
                transition:1s;
            }
        }

        .handle:active .stick {
            /*   rotate:x 60deg; */
              
              transform:
                perspective(40em)
                rotateX(-60deg);
        }

        & .handle:active .stick::after{
            transform:
            rotateX(60deg);
        }

    }
}



